/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.banner {
    background-color: #F4F1E1; /* Light Beige */
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 80px;
    height: auto;
}

.company-title {
    font-size: 36px;
    color: #D4AF37; /* Gold */
    margin:0;
}

#current-date {
    font-size: 18px;
    color: #D4AF37; /* Pale Gold */
}

/* Body Style */
body {
    background-color: #FAF9F4; /* Different color for the body (light off-white) */
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Banner to separate footer */
.footer-banner {
    background-color: #b8a081; /* Pale gold or any desired color */
    height: 5px; /* Thin banner */
    width: 100%;
}

/* Footer section */
.footer {
    background-color: #f1f1f1; /* Light gray background */
    padding: 20px;
    text-align: center;
}

/* Footer content styles */
.footer-content p {
    margin: 10px 0;
    font-size: 14px;
}

/* Link styles */
.footer a {
    color: #b8a081; /* Pale gold for the link */
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
    color: #a78e68; /* Slightly darker gold when hovered */
}

/* Body Font Color*/
body {
    color: #7C7A56; /* Dark Beige */
}